{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% csrf_token %}

{% block content %}
	<div class="row">
		<div class="col-sm-5">
			
		</div>
		<div class="col-sm-2">
			<div class="btn-group" role="group" aria-label="...">
				<a href="/">
				  	<button type="button" class="btn btn-default cancel-button">
				  		<i class="fa fa-plus-circle" aria-hidden="true"></i>  <b>Cancel</b>
				  	</button>
				</a>
			</div>
		</div>
	</div><br><br>
	<div class="row">

		<div class="col-sm-6">
			{% crispy form %}
		</div>

	</div>
{% endblock content %}